@model Freedi.Model.ViewModels.GoodsViewModel


<section id="ParticularProduct">
    @using (Ajax.BeginForm("Catalog", "Home", FormMethod.Post, new AjaxOptions
    {
        UpdateTargetId = "content",
    }, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", disabled = true })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Currency, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Currency, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.StockQuantity, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StockQuantity, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Sex, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" style="background:black">

            @foreach (var item in Model.Photo)
            {
                <img class="product_image" id="@item.PhotoId" src="@Url.Content(@item.PhotoPath ?? "~/PathToDefaultImage")" />
                <input type="file" name="@item.PhotoId" style="display:none" />
            }

        </div>
        <script>
      
         
                $('.product_image').on('click', function () {
                   id = $(this).attr("id");
                    debugger;
                    alert(id);
                    var input = $("[name='" + id + "']");
                    input.focus().click();
                    $("[name='" + id + "']").on('change', function (event) {
                        var tmppath = URL.createObjectURL(event.target.files[0]);
                        $('.product_image').attr('src', tmppath);    

                    });
                });
            $('.product_image').on("mouseenter", function () {
                $(this).css({
                    "opacity": '0.8',
                    "cursor": "pointer"
                });
            })
                .on("mouseleave", function () {
                    var styles = {
                        opacity: '1',
                        cursor: "default"
                    };
                    $(this).css(styles);
                    });

            
        </script>
        <div class="form-group">
            @Html.LabelFor(m => m.Stock, new { @class = "col-md-2 control-label" })
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.Stock, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Unit, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SKU, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SKU, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="change" class="btn btn-success">Update</button>
            </div>
        </div>
    }

</section>

    
