@model Freedi.Model.ViewModels.CartModels.CartViewModel
@{

    Layout = null;
}


<link href="~/Content/Cart/Cart.css" rel="stylesheet"/>
<script>
    $(document).ready(function() {
        $('.alert-close').on('click',
            function(event) {
                var parent = event.target.parentElement;
                debugger;
                $(parent).fadeOut('slow',
                    function(c) {
                        debugger;
                        $(this).remove();
                        $.ajax({
                            url: "/Cart/CartItemsCounter",
                            success: function(result) {
                                debugger;
                                var cartcounter = $("#checkout_items");
                                if (result > 0) {
                                    cartcounter.fadeIn('slow',
                                        function(c) {
                                            $(this).show();
                                        });
                                    cartcounter.html(result);
                                } else {
                                    cartcounter.hide();
                                }


                            }
                        });
                    });
            });
    });
</script>


<!-- main -->
<div class="main" id="MainID">
    
    <div class="main-grid2">
        <h2>
            My Shopping Bag
            @if (Model.TotalGoods > 0)
            {
                @Model.TotalGoods
            }
        </h2>

        @{
            var i = 0;

            foreach (var item in Model.Lines.Select(x => x.Goods))
            {
                <div class="cart_box">
                    <div class="message">

                        <div class="list_img">
                            <img src="@Url.Content(item.Photo.Select(x => x.PhotoPath).FirstOrDefault() ?? "~/PathToDefaultImage")" class="img-responsive" alt=""/>
                        </div>
                        <div class="list_desc">
                            <h4>
                                @Html.ActionLink(item.Name, "SingleProduct", "Home", new {item.Id}, null)
                            </h4>
                            <span class="actual">
                                @item.Price @item.Currency
                            </span>

                        </div>
                        <div class="list_desc">
                            <h4>Quantity</h4>
                            <span class="actual">
                                @Model.Lines.Select(x => x.Quantity).ToList()[i]
                            </span>
                        </div>

                        <a class="alert-close" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#MainID" href="/Cart/RemoveFromCart/@item.Id">
                            <div style="z-index: 100" class="alert-close"></div>
                        </a>
                    </div>
                </div>
                i++;
            }
        }


        <div class="total">
            <div class="total-left">
                <p>Total :<span> @Model.TotalValue</span></p>
            </div>
            <div class="total-right">
                @Html.ActionLink("Order", "MakeOrder", "order")
            </div>
            <div class="clear"> </div>
        </div>
    </div>

</div>